{%extends 'core/layout.html'%}
{%load static%}
{%block content%}
<div class="container about-tag">
    <div class="center">
        <img class="portrait-image" src="{%static 'images/portrait.jpg'%}" alt="">
        <h1>Mundia Stacy <span class="highlight">Pizo</span></h1>
    </div>
    <aside>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo explicabo et quaerat? Harum laboriosam facilis nostrum minima, ipsam tenetur vitae. Dicta deserunt aspernatur nihil consequatur obcaecati distinctio deleniti hic rerum.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis accusantium voluptatum dolor, at officiis eum vel repellat, maxime error ipsa doloribus ratione nobis omnis quisquam! Quae officiis voluptate labore quisquam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, est quas fuga distinctio temporibus eos a assumenda dignissimos reiciendis repudiandae omnis. Totam quidem at recusandae aliquid, dicta impedit magni beatae!
        </p>
    </aside>
</div>
    
{%endblock%}