{%extends 'core/layout.html'%}
{%load static%}
{%block content%}
    <section id="showcase">
        <div class="container">
            <div class="apaque">
                <h1><span class="highlight">Affordable respon</span><span class="resp-text">sive web designs</span></h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius sed vel omnis? Maiores ullam ab consequuntur neque dolore quam magnam quidem sapiente ex harum dolor vitae illo est, provident repellat!</p>
            </div>
            <!-- <form class="form-class">
                <legend>Sign up for news later</legend>
                <input type="email" placeholder="enter mail">
                <button type="submit">Submit</button>
            </form> -->
        </div>
    </section>

    <!--this is for the second project -->
    <section>
        <section class="container">
            <div class="skillset">
                <h1>Skill set</h1>
            </div> 
            <div class="icon-section ">
                <!-- <div>
                    <img class="icon" src="{%static 'images/css.png'%}" alt="">
                </div> -->
                <div class="icon-card">
                    <img class="icon" src="{%static 'images/python.jpeg'%}" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam explicabo omnis quidem nisi beatae deleniti totam doloremque cupiditate nulla, eveniet sequi fugit. Suscipit assumenda non quisquam excepturi minus, labore laboriosam.</p>
                </div>
                <div class="icon-card">
                    <img class="icon" src="{%static 'images/html5.png'%}" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi eius sed nesciunt ad amet. Distinctio non fugiat porro assumenda suscipit voluptatum cupiditate dolorum vitae, doloribus sed modi, deleniti dolores possimus!</p>
                </div>
                <div class="icon-card">
                    <img class="icon" src="{%static 'images/vuejs.png'%}" alt="">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati eligendi animi laudantium dolores inventore corrupti voluptas, cum rerum cumque. Perferendis accusantium libero voluptatem ipsa quo, aut aperiam omnis nostrum quaerat!</p>
                </div>
                <div class="icon-card">
                    <img class="icon" src="{%static 'images/nodejs.png'%}" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ipsa magnam sapiente, soluta quisquam fuga accusantium totam quam deleniti voluptatibus quasi qui reprehenderit doloremque, excepturi aspernatur vel consectetur incidunt minima.</p>
                </div>
                <div class="icon-card">
                    <img class="icon" src="{%static 'images/reactjs3.png'%}" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ad, impedit laudantium voluptas reprehenderit dolorum quae inventore vero, omnis beatae recusandae accusamus eveniet quo iure natus a dignissimos facilis sed!</p>
                </div>
                
            </div>
        </section>
    </section>

    <!--this is for the third project -->
    <section>
        <div class="container">
            <h1></h1>
        </div>
    </section>
{%endblock content%}