<header>
    <div class="container">
        <!--this is for the first part of the header-->
        <div id="branding">
            <h1><a href="/"><span class="highlight">Crystal</span> Web Designs</a></h1>
        </div>
        <!-- this is for the links on the navbar-->
        <nav>
            <ul>
                <li><a href="{%url 'about'%}">About</a></li>
                <li><a href="{%url 'projects'%}">Projects</a></li>
                <li><a href=".">Sign up</a></li>
            </ul>
        </nav>
    </div>
</header>
